* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: tahoma, "Courier New", Courier, monospace;
}
:root {
    --container: #101a22;
    --custom-text: #425564;
    --white-text: #ffffff;
    --fund-custom: #003d52;
}

body {
    padding: 3em;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--container);
    border: 1px solid var(--container);
}

.big-box {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-logo {
    display: flex;
}
.box-logo img {
    width: 100%;
}

/* NAV */
.menu-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;

    list-style: none;
}
.menu-a {
    font-size: 1.1em;
    font-weight: bold;

    text-decoration: none;
    text-transform: uppercase;

    letter-spacing: 2.3px;

    color: var(--custom-text);
    transition: 1s;
}
.menu-a:hover {
    color: var(--white-text);
    transition: 0.7s ease-in-out;
}

/* IMG HEADER */
.home-image {
    height: 100%;
    width: 100%;
}

.home-image img {
    height: 100%;
    width: 100%;
}

/* MAIN */
.container-main {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.subcontainer__main {
    text-align: center;
}

.primary-box-text {
    padding: 4em;
}
.primary-title {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 2px solid var(--container);
}
.primary-text {
    padding: 0.3em;
    font-size: 1em;
    letter-spacing: 1.2px;
    color: var(--custom-text);
}

/* gallery */
.gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.2em;
}
.card-model {
    color: var(--custom-text);
}
.bd-img {
    width: 100%;
}
.bd-img img {
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}
.name-title {
    padding: 0.2em;
    font-size: 1.2em;
}
.characteristic {
    padding-bottom: 0.3em;
    font-size: 1em;
}

/* about */
.back-fund {
    width: 78.3em;
    padding: 12em;

    background: url(../IMG/Fund.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;
}
.box-about {
    color: var(--white-text);
}
.box-about h2 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 2px solid var(--white-text);
}

.box-about p {
    margin-top: 2em;
    font-size: 1em;
    letter-spacing: 1.2px;
    line-height: 1.3;
}
/* CONTACT */
.subcontainer__contact {
    padding: 2em;

    font-size: 2em;
    font-weight: bold;

    color: var(--fund-custom);
}

/* MAPS */
.maps,
map {
    height: 30em;
    width: 100%;
    border: 2px solid var(--container);
}
.map {
    width: 100%;
    height: 100%;
    border: none;
}
/* footer */
.container-footer {
    width: 100%;

    padding: 2em;

    color: var(--custom-text);

    background-color: var(--container);
}
.text__footer {
    font-size: 1em;
    letter-spacing: 1.2px;
}

.text-link {
    text-decoration: none;
    color: var(--custom-text);
    transition: 1s ease-in-out;
}
.text-link:hover {
    text-decoration: underline;
    color: var(--white-text);
    transition: 0.7s ease-in-out;
}
